<img src="../Pics/MLSb-T.png" width="160">
<br><br>
<center><u><H1>Exercises and Solutions</H1></u></center>

In [ ]:
import pymysql
import pandas as pd

### 1) Retrieve all data from the table client and also the table address ordered by the state ascending / descending

In [ ]:
def connection():
    try:
        conn = pymysql.connect(host='127.0.0.1',
                               port=3306,
                               user='python',
                               password='mysql',
                               db='customers')
    
        sql = "select name,sex,state,tel,addr from client join address on client.idclient = address.idcli order by state desc"
        
        titles='Name Sex State Tel Address'.split()
        
        df=pd.read_sql(sql,con=conn)
        
        df.columns = titles
            
    finally:
        conn.close()
        return df
    
connection()

## 2) Select all data from clients but specifying only the code aerea of the telephone

In [ ]:
def connection():
    try:
        conn = pymysql.connect(host='127.0.0.1',
                               port=3306,
                               user='python',
                               password='mysql',
                               db='customers')
    
        sql = "select name,sex,state,left(tel,3),addr from client join address on client.idclient = address.idcli order by state asc"
        
        titles='Name Sex State Tel Address'.split()
        
        df=pd.read_sql(sql,con=conn)
        
        df.columns = titles
            
    finally:
        conn.close()
        return df
    
connection()

## 3) Convert to Uppercase all names from the table client

In [ ]:
def connection():
    try:
        conn = pymysql.connect(host='127.0.0.1',
                               port=3306,
                               user='python',
                               password='mysql',
                               db='customers')
    
        sql = "select upper(name),sex,state,tel,addr from client join address on client.idclient = address.idcli order by state asc"
        
        titles='Name Sex State Tel Address'.split()
        
        df=pd.read_sql(sql,con=conn)
        
        df.columns = titles
            
    finally:
        conn.close()
        return df
    
connection()

## 4) Select male clients who lives in the NY area.

In [ ]:
def connection():
    try:
        conn = pymysql.connect(host='127.0.0.1',
                               port=3306,
                               user='python',
                               password='mysql',
                               db='customers')
    
        
        sql = "select name,sex,state,tel,addr from client join address on client.idclient = address.idcli where sex='M' and state='NY'"
        
        titles='Name Sex State Tel Address'.split()
        
        df=pd.read_sql(sql,con=conn)
        
        df.columns = titles
            
    finally:
        conn.close()
        return df
    
connection()

## 5) Calculate how many registers has the client table

In [ ]:
def connection():
    try:
        conn = pymysql.connect(host='127.0.0.1',
                               port=3306,
                               user='python',
                               password='mysql',
                               db='customers')
    
        
        sql = "select count(*) from client"
        
        df=pd.read_sql(sql,con=conn)
        
        #df.columns = 'Count'
            
    finally:
        conn.close()
        return df
    
connection()

## 6) Select in one row the Name, Tel and Address

In [ ]:
def connection():
    try:
        conn = pymysql.connect(host='127.0.0.1',
                               port=3306,
                               user='python',
                               password='mysql',
                               db='customers')
    
        
        sql = "select concat(name,'<-->',tel,'<-->',addr) as data from client join address on client.idclient = address.idcli group by state"
        
        df=pd.read_sql(sql,con=conn)
        
        df.columns = ['Complete information']
            
    finally:
        conn.close()
        return df
    
connection()

## Reference:

https://dev.mysql.com/doc/refman/5.7/en/string-functions.html