<img src="../../Pics/MLSb-T.png" width="160">
<br><br>
<center><u><H1>Pandas: APPLYING FUNCTIONS</H1></u></center>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'col1':[1,2,3,4,5],'col2':[333,555,443,235,123],'col3':['abc','def','gci','wer','xdf']})
df

   col1  col2 col3
0     1   333  abc
1     2   555  def
2     3   443  gci
3     4   235  wer
4     5   123  xdf

### Applying Functions:

In [3]:
def log(x):
    return np.log(x)

log(df['col2'])

0    5.808142
1    6.318968
2    6.093570
3    5.459586
4    4.812184
Name: col2, dtype: float64

In [4]:
def getsupport(X,data):
    N = len(data)
    support = (data==X).sum() / N
    return support

getsupport(555,df['col2'])

0

In [5]:
df['col2'].apply(log)

0    5.808142
1    6.318968
2    6.093570
3    5.459586
4    4.812184
Name: col2, dtype: float64

### Lambda Functions:

#### General expresion: lambda arg1, arg2, ...argN : expression using arguments

In [6]:
df['col2'].apply(lambda x: np.log(x))

0    5.808142
1    6.318968
2    6.093570
3    5.459586
4    4.812184
Name: col2, dtype: float64

In [7]:
df['col1'].apply(lambda x: x**2)

0     1
1     4
2     9
3    16
4    25
Name: col1, dtype: int64

In [8]:
df['col2'].apply(lambda x: 'big' if x > 300 else 'small')

0      big
1      big
2      big
3    small
4    small
Name: col2, dtype: object

In [9]:
df['col4']= df['col3'].str[0:2].apply(lambda x: 1 if x==('gc') else 0)
df

   col1  col2 col3  col4
0     1   333  abc     0
1     2   555  def     0
2     3   443  gci     1
3     4   235  wer     0
4     5   123  xdf     0

In [10]:
df['col1'].values

array([1, 2, 3, 4, 5], dtype=int64)

### Using map function and lambda expresion

In [11]:
df['col5'] = list(map(lambda x : x * 5, df['col1']))
df

   col1  col2 col3  col4  col5
0     1   333  abc     0     5
1     2   555  def     0    10
2     3   443  gci     1    15
3     4   235  wer     0    20
4     5   123  xdf     0    25

## Reference:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html