<center><img src="../../Pics/MLSb-T.png" width="160"></center>
<br><br>
<center><u><H1>Pandas: Importing and Exporting Data</H1></u></center>

<h3>CSV:</h3>

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('../../data/Iris.csv')
df[:5]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

<strong>To write a data to the .csv file, use to_csv function</strong>

In [5]:
d = {'v1': pd.Series(['X', 'c', 'Z', 'R']),
    'v2': pd.Series([1,2,3,4])}
df = pd.DataFrame(d)
df.to_csv('../../data/samplecsv.csv',index=False)

In [6]:
df=pd.read_csv('../../data/samplecsv.csv')
df

  v1  v2
0  X   1
1  c   2
2  Z   3
3  R   4

<H3>EXCEL:</H3>

In [8]:
df=pd.read_excel('../../data/salesdata2010-2014.xls', sheet_name='Data')    #sheetname is depricated
df[0:5]

    Period    Totals  NumTicket  Suture Sales
0  2010/01  35998.26          0       24602.7
1  2010/02  45663.64          0       29663.0
2  2010/03  30316.40          0       30316.4
3  2010/04  47283.78          0       29750.0
4  2010/05  36726.32          0       22128.0

<strong>To write a data to the .xls/xlsx file, use to_excel function</strong>

In [9]:
df[0:5].to_excel('../../data/samplexls.xlsx')

<H2>JSON:</H2>

In [10]:
import json

In [11]:
json_data = open('../../data/jsontrial.json')
data = json.load(json_data)
json_data.close()

In [12]:
d = json.loads(open('../../data/jsontrial.json').read())
d

{u'glossary': {u'GlossDiv': {u'GlossList': {u'GlossEntry': {u'Abbrev': u'ISO 8879:1986',
     u'Acronym': u'SGML',
     u'GlossDef': {u'GlossSeeAlso': [u'GML', u'XML'],
      u'para': u'A meta-markup language, used to create markup languages such as DocBook.'},
     u'GlossSee': u'markup',
     u'GlossTerm': u'Standard Generalized Markup Language',
     u'ID': u'SGML',
     u'SortAs': u'SGML'}},
   u'title': u'S'},
  u'title': u'example glossary'}}

In [13]:
f = pd.read_json('../../data/jsontrial.json',orient='index')
f

                                                   GlossDiv             title
glossary  {u'GlossList': {u'GlossEntry': {u'GlossDef': {...  example glossary

## Reference:

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html 


http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_json.html