<img src="../Pics/MLSb-T.png" width="160">
<br><br>
<center><u><H1>Data Types and Operations</H1></u></center>

- Numbers
- Strings
- Booleans
- Printing
- Lists
- Dictionaries
- Tuples
- Files
- Sets

## Numbers:

In [1]:
# Integer
4-3

1

In [2]:
# Float
2.5*5

12.5

In [3]:
# Decimal
1/3

0

In [4]:
3 ** 4 # Exponentiation with **

81

In [5]:
# Pi number:
import numpy as np
np.pi

3.141592653589793

In [6]:
# square root:
np.sqrt(np.pi)

1.7724538509055159

## Variable assignment:

In [7]:
yy = np.pi
yy

3.141592653589793

## Array concept:

<img src="../Pics/array.png" width="600">

## Strings:

In [8]:
st = 'Course'

In [9]:
# the lenght of the string:
len(st)

6

In [10]:
# showing the first item:
st[1]

'o'

In [11]:
# showing the index item:
st[2]

'u'

In [12]:
# showing the last item:

In [13]:
st[-1]

'e'

In [14]:
# showing the pre last item:
st[-2]

's'

In [15]:
# Another way to have the last item:
st[len(st)-1]

'e'

In [16]:
# Slicing a string:
st[1:3]

'ou'

In [17]:
# Everything past the first (1:len(st))
st[0:]

'Course'

In [18]:
# Everything except the last one
st[:len(st)-1]

'Cours'

In [19]:
# More simple way
st[:-1]

'Cours'

In [20]:
# The whole string
st[:]

'Course'

In [21]:
# Concatenation
'Advanced' +  ' ' + st

# the sign (+) means different things for different objects, 
#addition for numbers and concatenation for strings

'Advanced Course'

In [22]:
# Repetition
st * 3

'CourseCourseCourse'

In [23]:
# find the offset of a substring
st.find('se')
# return the index position

4

In [24]:
# Replace string with another
st.replace('ours','*')

'C*e'

#### Note: Strings are inmutable then new strings or applying functions doesnt change the original string.

In [25]:
st

'Course'

In [26]:
# Split a string into substrings list
l = 'the,complete,python,course'
l.split(',')

['the', 'complete', 'python', 'course']

In [27]:
# Upper and lowercase conversions
st.upper()

'COURSE'

In [28]:
st.lower()

'course'

### Formatting expressions

In [29]:
# Formatting strings
'{},complete, python, {}'.format('the','course')

'the,complete, python, course'

In [30]:
# separators, decimal digits
'{:,.2f}'.format(415214668745.85698)

'415,214,668,745.86'

In [31]:
# digits, padding, signs
'%.2f | %+04d' % (3.14159, -42)

'3.14 | -042'

### Getting Help:
If you want to check all methods available:

In [32]:
dir(st)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_formatter_field_name_split',
 '_formatter_parser',
 'capitalize',
 'center',
 'count',
 'decode',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isdigit',
 'islower',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

#### Consulting an specific method:

In [33]:
st.

SyntaxError: invalid syntax (<ipython-input-33-9af791239598>, line 1)

In [34]:
help(st.rstrip)

Help on built-in function rstrip:

rstrip(...)
    S.rstrip([chars]) -> string or unicode

    Return a copy of the string S with trailing whitespace removed.
    If chars is given and not None, remove characters in chars instead.
    If chars is unicode, S will be converted to unicode before stripping

#### <u>\n and \t:</u>
\n is end of line
\t is tab

In [35]:
v = 'A\nB\tC'
print(v)

A
B	C

## Booleans:

In [36]:
# two possible values: True and False
True

True

In [37]:
5 > 5

False

In [38]:
5 < 4

False

In [39]:
'abc' == 'ABC'

False

## Printing:

In [40]:
# printing numbers:
print(np.pi)

3.14159265359

In [41]:
print('{:,.2f}'.format(415214668745.85698))

415,214,668,745.86

In [42]:
# printing strings:
print('{},complete, python, {}'.format('the','course'))

the,complete, python, course

In [43]:
# printing numbers and strings
test = 0.4785
print('{} result of the {} is: %.2f'.format('the','test') % test)

the result of the test is: 0.48

## Lists:

In [44]:
# List can store different type of data
L = ['abc',13,np.pi]
L

['abc', 13, 3.141592653589793]

In [45]:
# lenght(number of items) of the list:
len(L)

3

In [46]:
# you can index, slice and so on, just as for strings:
#Indexing by position:
L[1]

13

In [47]:
#Slicing a list returns a new list.
L[:-1]

['abc', 13]

In [48]:
# Concat make a new list
L + ['cde',np.e,34]

['abc', 13, 3.141592653589793, 'cde', 2.718281828459045, 34]

In [49]:
# Repeating a list
L * 2

['abc', 13, 3.141592653589793, 'abc', 13, 3.141592653589793]

#### Note: The original list are not changing.

In [50]:
L

['abc', 13, 3.141592653589793]

In [51]:
# Adding new objects at the end of the list:
L.append('2.85')
L

['abc', 13, 3.141592653589793, '2.85']

In [52]:
# Removing an item on index position
L.pop(2)
L

['abc', 13, '2.85']

In [53]:
# Sorting a List:
l = ['cd','er','ab']
l.sort()
l

['ab', 'cd', 'er']

In [54]:
# sorting descending:
l.reverse()
l

['er', 'cd', 'ab']

#### Nesting:

In [55]:
# Representing a matrix
matrix = [[0,1,2],[3,4,5],[6,7,8]]
matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [56]:
#Checking the type
type(matrix)

list

In [57]:
# Accesing by index:
matrix[1]

[3, 4, 5]

In [58]:
# Accesing a specific value of each item
matrix[1][2]

5

## Dictionaries:

#### Consist in a series of key:value pairs. Are coded in curly braces.

In [59]:
d = {'car':'Audi','quantity':12,'color':'black'}

In [60]:
# accesing an item: you must to specify the key:
d['color']

'black'

In [61]:
# Adding some value to 'quantity':
d['quantity'] += 2
d

{'car': 'Audi', 'color': 'black', 'quantity': 14}

In [62]:
# Create key by asigment since a empty dict
d = {}
d['brand'] = 'Audi'
d['model'] = 'A5'
d['price'] = 60000
d

{'brand': 'Audi', 'model': 'A5', 'price': 60000}

In [63]:
# Another way to create a dictionary
car = dict(brand='Audi',model='A5',price=60000)
car

{'brand': 'Audi', 'model': 'A5', 'price': 60000}

In [64]:
#Keys:
car.keys()

['model', 'price', 'brand']

In [65]:
#values:
car.values()

['A5', 60000, 'Audi']

### Sorting keys:

In [66]:
k = list(car.keys())
k

['model', 'price', 'brand']

In [67]:
k.sort(reverse=True)
k

['price', 'model', 'brand']

## Tuples:

#### It is an object like a list but it cannot be changed, they are immutable like strings.
They are coded in parentheses instead of square brackets, and they support arbitrary types, arbitrary nesting and the usual sequence operations.

In [68]:
# Lenght of the tuple
T = ('a','b','c','d')
len(T)

4

In [69]:
# Concatenation
T + ('e',10)

('a', 'b', 'c', 'd', 'e', 10)

In [70]:
#Indexing, slincing and more
T[2]

'c'

In [71]:
T[-1]

'd'

In [72]:
T[:-1]

('a', 'b', 'c')

In [73]:
T

('a', 'b', 'c', 'd')

In [74]:
#Tuples are inmutable
T[0] = 2

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Tuple index
T.index('d')

In [75]:
# Counting similar elements
T.count('a')

1

In [76]:
# Making a new Tuple
T = T[1:]+(11,)
T

('b', 'c', 'd', 11)

In [77]:
# nesting
T = 'car',5.0,[10,20,30]
T[1]

5.0

In [78]:
T[2][1]

20

## Files:

#### Files objects are Python Code's main interface to external files on your computer. Rather, to create a file object, you call the built-in open function, passing in an external filename and an optional processing mode as strings.Lets see an example:

In [79]:
# Making a new file in write mode
f = open('data.txt','w')
f.write('Machine Learning and Datamining\n')
f.write('in Python: Practical Approach\n')
f.close() # close the buffer

In [80]:
# Open a file:
f = open('data.txt')
#read entire file into a string
text = f.read()
text

'Machine Learning and Datamining\nin Python: Practical Approach\n'

In [81]:
# print interprets control characters
print(text)

Machine Learning and Datamining
in Python: Practical Approach

In [82]:
# creating a list of strings
text.split()

['Machine',
 'Learning',
 'and',
 'Datamining',
 'in',
 'Python:',
 'Practical',
 'Approach']

## Sets:

#### They are unordered collections of unique and immutable objects.

In [83]:
S = {'h','a','m'}
type(S)

set

In [84]:
A = set('airplane')
type(A)

set

In [85]:
A

{'a', 'e', 'i', 'l', 'n', 'p', 'r'}

In [86]:
# Tuple of two sets
S,A

({'a', 'h', 'm'}, {'a', 'e', 'i', 'l', 'n', 'p', 'r'})

In [87]:
# Intersection
S & A

{'a'}

In [88]:
# Union
S | A

{'a', 'e', 'h', 'i', 'l', 'm', 'n', 'p', 'r'}

In [89]:
# Difference
(A - S)

{'e', 'i', 'l', 'n', 'p', 'r'}

In [90]:
# Filtering duplicates
list(set([1,2,1,2,3,4]))

[1, 2, 3, 4]

In [91]:
# Finding differences in collections
r = set('car') - set ('bar')

In [92]:
r

{'c'}

In [93]:
type(r)

set

In [94]:
# Logical expressions:
set('hello') == set('olleh')

True

In [95]:
# Sets also support in membership tests
'p' in set('pizza'), 'p' in 'purple', 'air' in ['ozone','air','plane']

(True, True, True)

## Reference:

https://docs.python.org/3/library/stdtypes.html