<img src="../Pics/MLSb-T.png" width="160">
<br><br>
<center><u><H1>Functions</H1></u></center>

In [1]:
#Functions without arguments
def user():
    print('Hello!')
    
user()

Hello!

In [2]:
#Functions with arguments
def describe_car(brand,model):
    print("\nI have an "+brand+" model "+model)
    
describe_car('Audi','A7')

I have an Audi model A7

In [3]:
#Functions with return values
def person(first_name, last_name):
    full_name = first_name + ' ' + last_name
    return full_name

person('Steve','Jobs')

'Steve Jobs'

In [4]:
#Returning a dictionary
def person(first_name, last_name):
    full_name = {'first':first_name,'last':last_name}
    return full_name

person('Steve','Jobs')

{'first': 'Steve', 'last': 'Jobs'}

In [5]:
#Passing a list
def brand_cars(names):
    for name in names:
        msg = "Brand: " + name
        print(msg)
brand_names = ['Audi','BMW','Bentley','Ferrari']
brand_cars(brand_names)

Brand: Audi
Brand: BMW
Brand: Bentley
Brand: Ferrari

In [6]:
#Passing an Arbitrary Number of Arguments
def brand_cars(*names):
    for name in names:
        msg = "Brand: " + str(name)
        print(msg)
brand_names = ['Audi','BMW','Bentley','Ferrari']
brand_names_=['Audi','BMW']
brand_cars(brand_names)
brand_cars(brand_names_)

Brand: ['Audi', 'BMW', 'Bentley', 'Ferrari']
Brand: ['Audi', 'BMW']

In [7]:
#Using Arbitrary Keyword Arguments
def build_profile(first, last, **user_info):
    profile = {}
    profile['first_name'] = first
    profile['last_name'] = last
    for key, value in user_info.items():
        profile[key] = value
    return profile

user_profile = build_profile('Carl','Sagan',
                            location='USA',
                            field='Astronomy')

print(user_profile)

{'field': 'Astronomy', 'first_name': 'Carl', 'last_name': 'Sagan', 'location': 'USA'}

### Storing Functions in Modules:

#### A module is a file ending in .py that contains the code you want to import into your current program.

#### For example: a module can contain the function build_profile and we can name as profile.py
import profile

user_profile = build_profile('Carl','Sagan',
                            location='USA',
                            field='Astronomy')

profile.build_profile(user_profile)

#### The sintax is : module_name.function_name()
where module_name is a file module_name.py

#### Importing Specific Functions:
from module_name import function_name

#### Using as to give a Function an alias:
from module_name import function_name as fn

#### Importing all functions in a module
from module_name import *

### Callback Functions:

In [24]:
def apply_async(func, args,callback):
    result = func(*args)
    callback(result)

In [25]:
def print_result(result):
    print('Value:',result)
    
def add(x, y):
    return x + y

apply_async(add, (2, 3), callback=print_result)

('Value:', 5)

In [26]:
apply_async(add, ('hello','python'), callback=print_result)

('Value:', 'hellopython')

## Lambda Functions:

In [27]:
x = 10
a = lambda y: x + y**2
a(1)

11

In [28]:
# function to capture a value at the point of definition and keep it
x = 5
a = lambda y, x=x: x + y
x = 11
b = lambda y, x=x: x + y
a(3)

8

In [29]:
b(5)

16

In [30]:
line = lambda m,x,c: m*x+c
line(2,4,-3)

5

## Map and Filter:

#### Map takes two arguments. The first argument is the name of a function and the second a sequence. map() applies the function to all the elements of the sequence.

In [31]:
C = [36.2, 28.5, 27.3, 29.8, 31.5] 
F = list(map(lambda x: (float(9)/5)*x + 32, C))
print(F)

[97.16000000000001, 83.30000000000001, 81.14, 85.64, 88.7]

In [32]:
C = list(map(lambda x: (float(5)/9)*(x-32), F))
print(C)

[36.20000000000001, 28.500000000000007, 27.3, 29.8, 31.500000000000004]

#### Filter offers to filter out all the elements of a sequence, for which the function returns True.

In [33]:
numbers = [0,1,3,5,7,8,10,13,16,24,36]
odd_numbers = list(filter(lambda x: x % 2, numbers))
print(odd_numbers)

[1, 3, 5, 7, 13]

## Python Built-in Functions:

#### Range function:

In [34]:
for i in range(3):
    print(i)

0
1
2

In [35]:
l = ['a','b','c']
for i in range(len(l)):
    print(l[i])

a
b
c

#### Enumerate:

In [36]:
a = [34, 'House', 12, False, 72.3]
for (i, x) in enumerate(a):
    print(i, x)

(0, 34)
(1, 'House')
(2, 12)
(3, False)
(4, 72.3)

#### Using Zip function:

In [37]:
car = dict(zip(['brand','model','price'],['Audi','A5',60000]))
car

{'brand': 'Audi', 'model': 'A5', 'price': 60000}

#### Combinations:

In [38]:
from itertools import combinations
iterable = range(4)
for i in range(len(iterable)):
    for comb in combinations(iterable, i):
        print(comb)

()
(0,)
(1,)
(2,)
(3,)
(0, 1)
(0, 2)
(0, 3)
(1, 2)
(1, 3)
(2, 3)
(0, 1, 2)
(0, 1, 3)
(0, 2, 3)
(1, 2, 3)

### List comprehension expression:

In [39]:
matrix = [[0,1,2],[3,4,5],[6,7,8]]
matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [40]:
# Collecting the items of the column 3
newcol = [row[2] for row in matrix]
newcol

[2, 5, 8]

In [41]:
# the original list is not changing
matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [42]:
# Filter out odd items:
[row[2] for row in matrix if row[2] % 2 == 0]

[2, 8]

In [43]:
# Sequence of numbers:
list(range(5))

[0, 1, 2, 3, 4]

In [44]:
# Multiple values:
import numpy as np
[[x ** 2, x ** 3, np.sqrt(x)] for x in range(5)]

[[0, 0, 0.0],
 [1, 1, 1.0],
 [4, 8, 1.4142135623730951],
 [9, 27, 1.7320508075688772],
 [16, 64, 2.0]]

In [45]:
# range: init value to final value and the step on the sequence.
for i in range(-2,5,2):
    print(i)

-2
0
2
4

In [46]:
# Multiple values with if sentence:
[[x ** 2, x ** 3, np.sqrt(x)] for x in range(-10,5,2) if x > 0]

[[4, 8, 1.4142135623730951], [16, 64, 2.0]]

## Reference:

https://docs.python.org/3/library/functions.html