<img src="../Pics/MLSb-T.png" width="160">
<br><br>
<center><u><H1>Python Basics - Exercises</H1></u></center>

## Let me present you Cosmos company, it is a trading company with present in many states of USA. I show you the data for the top 5 sellers of this company, where: 
## - Sales is a dictionary with the sales for each seller identified with a code number.
## - Base salary is the minimum salary
## - Base salary ratio is a ratio that improve the base salary based on the qualification of each salesman.
## - Finally you have a list with the data of each seller including the salary ratio and the zip code where is located.

In [1]:
# Sales in thousands
sales = {1:125,2:150,3:95,4:114,5:89}
base_salary = 5000
base_salary_ratio = {'l1':2, 'l2': 1.5, 'l3': 1.0 }

# Name, LastName, code_salary_ratio, years working
sellers = [[1, 'Albert','Sandler','l2', '33142'],
           [2, 'Carl', 'Sagan','l1','11530'],
           [3, 'John', 'Maxwell','l2','10013'],
           [4, 'Stephen','Hawkings','l1','90290'],
           [5, 'Doroty','Simons','l3','90803']]

## 1) Please print and order a list of sellers in ascending and descending order.

In [10]:
l = len(sellers)
sellers.sort() #reverse=True
for i in range(l):
    print(sellers[i])

[1, 'Albert', 'Sandler', 'l2', '33142']
[2, 'Carl', 'Sagan', 'l1', '11530']
[3, 'John', 'Maxwell', 'l2', '10013']
[4, 'Stephen', 'Hawkings', 'l1', '90290']
[5, 'Doroty', 'Simons', 'l3', '90803']

## 2) Please print a list with the complete name (first name and last name) and the salary for each employee.

In [3]:
l = len(sellers)
for i in range(l):
    sellers.sort()
    for key in base_salary_ratio.keys():
        if sellers[i][3] == key:
            print('Name: %s' % sellers[i][1:3], 'Salary: %s' % (base_salary_ratio[key] * base_salary))

Name: ['Albert', 'Sandler'] Salary: 7500.0
Name: ['Carl', 'Sagan'] Salary: 10000
Name: ['John', 'Maxwell'] Salary: 7500.0
Name: ['Stephen', 'Hawkings'] Salary: 10000
Name: ['Doroty', 'Simons'] Salary: 5000.0

## 3) Each seller has a comission for their sales equals to 1% if the sales are more than 100 and 2% if they are more than 125. If sales are less than or equal to 100 no comission will be applied. Please calculate the total salary per seller including the base salary and his comission.

In [5]:
def print_(name,salary):
    return print('Name: %s' % name, 'Salary: %s' % salary)

l = len(sellers)
for i in range(l):
    sellers.sort()
    for key in base_salary_ratio.keys():
        if sellers[i][3] == key:
            base = base_salary_ratio[key] * base_salary
            for k in sales.keys():
                if sellers[i][0] == k:
                    sale = sales[k]
                    if sale > 100 and sale <= 125:
                        total = base + sale * 0.01
                        print_(sellers[i][1:3], total)
                    elif sale > 125:
                        total = base + sale * 0.02
                        print_(sellers[i][1:3], total)
                    else:
                        total = base
                        print_(sellers[i][1:3], total)

Name: ['Albert', 'Sandler'] Salary: 7501.25
Name: ['Carl', 'Sagan'] Salary: 10003.0
Name: ['John', 'Maxwell'] Salary: 7500.0
Name: ['Stephen', 'Hawkings'] Salary: 10001.14
Name: ['Doroty', 'Simons'] Salary: 5000.0

## 4) Sellers are located in different cities along USA, please make a list with the name of the seller and the State where is located.

In [7]:
zip_codes = {'33142':'Miami, FL',
             '11530':'Garden City, NY',
             '10013':'New York, NY',
             '90290':'Topanga, CA',
             '90803':'Long Beach, CA'}

In [8]:
l = len(sellers)
for i in range(l):
    sellers.sort()
    for z in zip_codes.keys():
        if sellers[i][4] == z:
            city = zip_codes[z]
            state = city[-2:]
            print('Name: %s' % sellers[i][1:3], 'City: %s' % state)

Name: ['Albert', 'Sandler'] City: FL
Name: ['Carl', 'Sagan'] City: NY
Name: ['John', 'Maxwell'] City: NY
Name: ['Stephen', 'Hawkings'] City: CA
Name: ['Doroty', 'Simons'] City: CA

## 5) Apply the concept of Object Oriented Programming and make a list with the full name of each seller, the total salary and the State where is located.

In [11]:
class Salesman:
    def __init__(self, code, first_name, last_name, ratio, zip_c):
        self.code = code
        self.first_name = first_name
        self.last_name = last_name
        self.ratio = ratio
        self.zip = zip_c
        
    def salary(self):
        for key in base_salary_ratio.keys():
            if self.ratio == key:
                base = base_salary_ratio[key] * base_salary
                for k in sales.keys():
                    if self.code == k:
                        sale = sales[k]
                        if sale > 100 and sale <= 125:
                            total = base + sale * 0.01
                        elif sale > 125:
                            total = base + sale * 0.02
                        else:
                            total = base
        return total
        
    def state(self):
        for i in zip_codes.keys():
            if self.zip == i:
                st = zip_codes[i]
                state = st[-2:]
        return state        
        
    def print_obj(self):
        return print('Salesman:  '
                     + self.first_name
                     + ' '+ self.last_name
                     + ' -- '+ 'Salary: %s' % self.salary()
                     + ' -- '+ 'State: %s' % self.state())

sm = []
for i in range(len(sellers)):
    obj = Salesman(sellers[i][0],
                       sellers[i][1],
                       sellers[i][2],
                       sellers[i][3],
                       sellers[i][4])
    sm.append(obj)
    sm[i].print_obj()

Salesman:  Albert Sandler -- Salary: 7501.25 -- State: FL
Salesman:  Carl Sagan -- Salary: 10003.0 -- State: NY
Salesman:  John Maxwell -- Salary: 7500.0 -- State: NY
Salesman:  Stephen Hawkings -- Salary: 10001.14 -- State: CA
Salesman:  Doroty Simons -- Salary: 5000.0 -- State: CA

## !!! Great Job !!! - Congratulations!!!